*{
  margin: 0;
  padding: 0;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #ffff; 
}

body{
    background-color: #212035;
}

nav{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 10px;
}

.logoitems{
    margin: 15%;
    display: flex;
    justify-content: flex-start;
}

.logoitems p{
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 10px;
}

.logo{
    color: #ffffff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    display: flex;
    font-weight:bold ;
    border: 2px solid #ffff ;
    border-radius: 60%;
    padding: 5px;
}

nav p{
    color: #ffffff;
}

ul{
    display: flex;
    margin-left: 90px;
}

ul li{
    color:#ffffffc5;
    display: flex; 
    margin: 15px; 
    font-size: 16px;
    cursor: pointer;
    
}

article{
    width:min(60%,1000px);
    height:25vh;
    margin: 10% 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

article p{
   color: #ffffffb2;
}

.btn{
    background: #ffffff2a;
    color: #212035;
    padding: 5px 25px;
    font-size: 16px;
    border: 1px solid #50f9ac;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.8s;
    position: relative;
    overflow: hidden;
}

.btn:hover{
    color: #000000;
}

.btn::before{
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 180%;
    background: #50f9ac;
    z-index: -1;
    transition: 0.8s;
    top: 0;
    border-radius: 0 0 50% 50%;
}

.btn:hover::before{
height: 0%;
}

.container,h1,article p{
    margin: 12px;
    text-align: center;
}

h1{
    font-size:2.5rem;
    font-family: 'news-gothic-bold-regular', sans-serif;
}

article p{
    font-size:14px;
}

lottie-player{
    filter: drop-shadow(15px 15px 36px rgba(255, 255, 255, 0.596));
}

.illustrpic{
    display:flex;
    justify-content: center;
    margin-top: -45px;

}

p.othertext {
    margin: 20px 20px 20px 490px;
    padding: 10px;
    font-family: 'Katerina Bold Oblique';;
}

.brandstxts{
    display: flex;
    justify-content: center;
    margin: 0px 0px 60px 0px;
}

.brandstxts p{
    margin: 30px;
    color: #7f778f;
}

.brandtxt1{
    font-family: "FSP DEMO - mprtr Clssc ss Blck";
    font-size: 12px;
}

p.brandtxt2{
    font-family: "hansief";
    color: #a39dad;
}

.spcltxt{
    color: #7f778f;
    font-size: 6px;
    display: flex;
    justify-content: flex-end;
}

@media screen and (max-width:768px) {
    
    body{
        height:100vh;
        display: flex;
        flex-wrap: wrap;
    }

    .logoitems p{
        display: none;
    }

    .logoitems{
        margin: 5%;
    }
    header{
        width: 100%;
        display: flex;
    }
    nav{
        
        text-align: center;
        justify-content: center;
        padding: 5%;
    }
    ul{
        margin: auto;
    }
    ul li{
        color:#ffffff;
        display: flex; 
        margin: 5px; 
        font-size: 16px;
        
    }
}

@media screen and (min-width:1500px) {
    .logoitems p{
        font-size: 3rem;
    }
    .logo{
        font-size: 50px;
        display: flex;
        font-weight:bold ;
        border: 2px solid #ffff ;
        border-radius: 60%;
        padding: 10px;
    }

    .logoitems{
        margin: 5%;
    }
    header{
        width: 100%;
        display: flex;
    }
    nav{
        
        text-align: center;
        justify-content: center;
        padding: 30px;
    }
    ul li{
        color:#ffffff;
        display: flex; 
        margin: 20px; 
        font-size:3.2em;
        
    }

}